*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.product-card{
    border-radius: 5px;
    margin: 20px;
    background-color: #fff;
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.product-cover{
    width: 100%;
}

.product-detail{
    color: #777;
}
.product-title{
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 10px;
}

.product-card:hover{
    transform: scale(1.1);
}

.product-price{
    font-weight: bold;
    font-size: 0.9em;
    margin-bottom: 10px;
    color: #555;
}

.product-description{
color: #777;
}
.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.add-to-cart {
  margin-top: auto;
  margin-bottom: 10px;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

